/* latin-ext */
@font-face {
	font-family: "Inika";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./font/rnCm-x5X3QP-piTOT8YUsHXGcfI.woff2) format("woff2");
	unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
		U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Inika";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./font/rnCm-x5X3QP-piTAT8YUsHXG.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Inika";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(./font/rnCr-x5X3QP-pix7atM3knjsS_ulYHs.woff2) format("woff2");
	unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF,
		U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Inika";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(./font/rnCr-x5X3QP-pix7atM5knjsS_ul.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: digital numbers;
	font-style: normal;
	font-weight: 400;
	src: local("Digital Numbers"),
		url(./font/DigitalNumbers-Regular.woff) format("woff");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--head-height-desktop: 240px;
	--head-height-mobile: 177px;
	--select-border: #fff;
	--select-focus: red;
	--select-arrow: var(--select-border);
}

/* .inika-regular {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inika-bold {
    font-family: "Inika", serif;
    font-weight: 700;
    font-style: normal;
  }
   */

body {
	font-size: 16pxh;
	font-family: "Inika", serif;
	font-weight: 400;
	font-style: normal;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	height: 100dvh;
	background-color: aqua;
	background-image: url(./image/body-bg-bottom-right.svg),
		url(./image/body-bg-bottom-left.svg);
	background-position: bottom right, bottom left;
	background-size: 30dvh auto;
	background-repeat: no-repeat, no-repeat;
}
@media (width > 600px) {
}

main {
	margin-top: 0;
	margin-bottom: 1dvh;
	height: 98dvh;
	/* mobile viewport bug fix */
	width: 100dvw;
	max-width: 600px;
	display: grid;
	grid-template-rows: var(--head-height-mobile) 3fr;
	grid-template-columns: 0.6fr 260px 0.6fr;
	row-gap: 0;
	column-gap: 0;
}

.message-board {
	font-family: "Inika", sans-serif;
	font-size: 1em;
	padding: 0.55em;
	border-radius: 1em;
	text-align: center;
	color: white;
	border: 3px solid white;
	box-shadow: 2px 10px 25px 0px rgba(0, 0, 0, 0.58);
	background: #000;
	visibility: hidden;
	position: fixed;
	top: 35px;
}

.add-message {
	visibility: visible;
	animation: fadein 0.5s, fadeout 0.7s 2s;
}

@keyframes fadein {
	from {
		top: 0;
		opacity: 0;
	}
	to {
		top: 35px;
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		top: 35px;
		opacity: 1;
	}
	to {
		top: 0;
		opacity: 0;
	}
}

#uke-head {
	/* border: 2px solid red; */
	width: 100%;
	height: 100%;
	background-image: url(./image/head-center.png);
	background-size: auto var(--head-height-mobile);
	background-repeat: no-repeat;
	background-position: center bottom;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* align-items: center; */
}
.logo {
	margin-top: 10%;
	align-self: center;
	display: flex;
	justify-content: center;
}
.logo img {
	visibility: hidden;
}
.displays {
	/* align-self: center; */
	display: flex;
	justify-content: space-around;
	margin-bottom: 5%;
}
.displays .display-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4.4em;
	height: 4.4em;
	border-radius: 50%;
	box-shadow: inset -4px -4px 6px 6px rgba(129, 0, 0, 0.8);
	border: 4px solid white;
	background-color: #000;
}
.displays .display-wrapper {
	text-align: center;
}
.displays .display-title {
	font-size: 0.8em;
	line-height: 1;
	font-weight: 700;
	color: #000;
}

.displays .display-circle span {
	font-family: "digital numbers", sans-serif;
	font-size: 1.7em;
	color: red;
}
.displays .display-circle span.add-credits,
.displays .display-circle span.add-rounds {
	animation: scoreBoardGlimmer 500ms ease-in-out;
}

@keyframes scoreBoardGlimmer {
	0% {
		color: red;
	}
	50% {
		color: rgb(129, 0, 0);
	}
	100% {
		color: red;
	}
}

.head-left {
	background-image: url(./image/head-left.png);
	background-size: auto var(--head-height-mobile);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.head-right {
	background-image: url(./image/head-right.png);
	background-size: auto var(--head-height-mobile);
	background-repeat: no-repeat;
	background-position: left bottom;
}

#fret-board {
	border-top: 8px solid white;
	width: 100%;

	height: 100%;
	background-image: url(./image/fretboard-wood-1.png);
	background-size: cover;
}
#fret-board h1,
#fret-board h2,
#fret-board p {
	color: white;
	text-align: center;
}

#fret-board form {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

select {
	/* // A reset of styles, including removing the default dropdown arrow */
	appearance: none;
	/* // Additional resets for further consistency */
	background-color: transparent;
	border: none;
	padding: 0 1em 0 0;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
	outline: none;
}

.select {
	width: 100%;
	min-width: 15ch;
	max-width: 30ch;
	border: 1px solid var(--select-border);
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	font-size: 1.25rem;
	cursor: pointer;
	line-height: 1.1;
	background-color: #000;
	display: grid;
	/* color: #fff; */
	/* background-image: linear-gradient(to top, #f9f9f9, #fff 33%); */
}
.select::after {
	content: "";
	width: 0.8em;
	height: 0.5em;
	background-color: var(--select-arrow);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }

select option {
	color: #fff;
}

#fret-board #fret-board.grid {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 0;
	column-gap: 0;
}
#fret-board.grid > div {
	font-size: 1em;
	/* background: blue; */
	/* border-bottom: 1px solid black; */
	transition: 50ms;
	/* background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, rgba(198,198,198,1) 100%); */
	background-image: url(./image/string-up.svg), url(./image/fret.png);
	background-size: auto 100%, 100% 0.25em;
	background-position: calc(50% - 0px) 50%, bottom;
	background-repeat: no-repeat;
	/* transition: 200ms; */
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#fret-board.grid > div.string-down {
	background-image: url(./image/string-down.svg), url(./image/fret.png);
	background-position: calc(50% - 0px) 50%, bottom;
}

#fret-board.grid > div .hint {
	font-size: 1.2em;
	font-weight: 700;
	background-color: rgba(249, 163, 17, 0.5);
	background-color: rgba(158, 176, 75, 0.5);
	color: #222;
	width: 2em;
	height: 2em;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
@media (width > 600px) {
	main {
		max-width: 700px;
		grid-template-rows: var(--head-height-desktop) 3fr;
		grid-template-columns: 1fr 353px 1fr;
	}
	.message-board {
		font-size: 1.25em;
		padding: 0.55em;
		border-radius: 1em;
	}
	#uke-head {
		background-size: auto var(--head-height-desktop);
	}
	.logo {
		margin-top: 8%;
	}
	.logo img {
		width: 70%;
	}
	.displays .display-circle {
		width: 5.5em;
		height: 5.5em;
	}
	.displays .display-title {
		font-size: 0.9em;
	}
	.displays .display-circle span {
		font-size: 2.2em;
	}
	.head-left {
		background-image: url(./image/head-left.png);
		background-size: auto var(--head-height-desktop);
		background-repeat: no-repeat;
		background-position: right bottom;
	}
	.head-right {
		background-image: url(./image/head-right.png);
		background-size: auto var(--head-height-desktop);
		background-repeat: no-repeat;
		background-position: left bottom;
	}
}
