@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    
}


/* .inika-regular {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .inika-bold {
    font-family: "Inika", serif;
    font-weight: 700;
    font-style: normal;
  }
   */

body {
    font-size: 2.5vh;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
    height: 100vh;
	touch-action: none;
    background-color: aqua;
	background-image: 
    url(./image/body-bg-top-center.svg), 
    url(./image/body-bg-bottom-right.svg), 
    url(./image/body-bg-bottom-left.svg);
    background-position: 
    top center,
    bottom right,
    bottom left;
    background-size: 
    20vh auto;
	background-repeat: no-repeat, no-repeat, no-repeat;
}

main {
	margin-top: 10vh;
    height: 90vb;
	width: 70vw;
    max-width: 600px;
}
#uke-head {
	/* border: 2px solid red; */
	width: 100%;
	height: 20%;
}
#fret-board {
	border-top: 8px solid white;
	width: 100%;
    
	height: 70%;
    background-image: 
    url(./image/fretboard-wood-1.png);
    background-size: cover;
}
#fret-board.grid {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 0;
	column-gap: 0;
}
#fret-board.grid > div {
    font-size: 1em;
	/* background: blue; */
	/* border-bottom: 1px solid black; */
    transition: 50ms;
    /* background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 67%, rgba(198,198,198,1) 100%); */
    background-image: 
    url(./image/string-up.svg),
    url(./image/fret.png);
    background-size: auto 100%, 100% 0.25em;
    background-position: calc(50% - 0px) 50%, bottom;
    background-repeat: no-repeat;
    /* transition: 200ms; */
    display: flex;
	justify-content: center;
	align-items: center;
}

#fret-board.grid > div.string-down {
    background-image: url(./image/string-down.svg),url(./image/fret.png);
    background-position: calc(50% - 0px) 50%, bottom;
}

#fret-board.grid > div .hint {
    font-size: 0.9em;
    font-weight: 700;
    background-color: rgba(249, 163, 17, 0.5);
    color: #222;
    width: 2.2em;
    height: 2.2em;
    border-radius: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
}

.message-board {
	display: none;
    position: absolute;
	&.add-message {
		display: block;
	}
}
